@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight|Open+Sans');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/element-ui/lib/theme-default/index';

$main-font: 'Open Sans', sans-serif;
$header-font:'Zilla Slab Highlight', sans-serif;

$tablet: 768px;
$small-desktop: 992px;
$desktop: 1200px;
$big-desktop: 1600px;

//Media queries

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$small-desktop - 1px}) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$small-desktop}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$big-desktop - 1px}) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: #{$big-desktop}) {
    @content;
  }
}

// Basic styles setup + Vuejs styles

body, html {
  height: 100%;
  margin: 0;
  font-family: $main-font;
}

#app {
  min-height: 100vh;
}

[v-cloak] { display:none; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to  {
  opacity: 0
}

//Buttons styles
.btn-mobile {
  @include mobile {
    display: block;
    width: 100%;
    border-radius: 0;
  }
}

.el-dialog__footer {
  @include mobile {
    padding: 0;
  }
}

.el-button + .el-button {
  @include mobile {
    margin-left: 0;
  }
}

//Checkbox order fix
.el-checkbox + .el-checkbox {
  margin-left: 0;
}

.el-checkbox {
  margin-right: 10px;
}

//Search products input field
.input-size {
  @include big-desktop {
    width: 500px;
  }

  @include desktop {
    width: 450px;
  }

  @include small-desktop {
    width: 350px;
  }

  @include tablet {
    width: 300px;
  }

  @include mobile {
    width: auto;
  }
}

@import './partials/reset';
@import './partials/helpers';
@import './partials/loader';
@import './partials/home_page_header';
@import './partials/home_page_info';
@import './partials/home_page_logos';
@import './partials/home_page_markets_list';
@import './partials/market_info_card';
@import './partials/market_chart';
@import './partials/market_products_table';
@import './partials/dashboard_offer_manager';
@import './partials/login';
@import './partials/footer';






