//Links reset styles
a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

//Helper classes

.center {
  text-align: center;
}

@import 'node_modules/element-ui/lib/theme-default/index';
@import 'node_modules/c3/c3';

body {
  margin: 0;
}