@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight|Open+Sans');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/element-ui/lib/theme-default/index';

$main-font: 'Open Sans', sans-serif;
$header-font:'Zilla Slab Highlight', sans-serif;

$tablet: 768px;
$small-desktop: 992px;
$desktop: 1200px;
$big-desktop: 1600px;

//Media queries

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$small-desktop - 1px}) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$small-desktop}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$big-desktop - 1px}) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: #{$big-desktop}) {
    @content;
  }
}

body, html {
  height: 100%;
  margin: 0;
  font-family: $main-font;
}

// Vuejs styles

[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to  {
  opacity: 0
}

// Monitor cen styles

#app {
  height: 100%;
}

//Links reset styles
a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

//Helper classes

.center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.ml-4 {
  margin-left: 40px;
}

// Home page //

// Header
.header-bg {
  background-image: url("/images/header_main-min.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-nav-items {
  position: absolute;
  top: 5%;
  right: 5%;
}

.header-nav-items span,
.header-nav-items a {
  color: #eeeeee;
  font-size: 1.25em;
  margin: 10px 10px 5px 10px;
  padding: 10px 10px 5px 10px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;

  @include small-desktop {
    font-size: 1.25em;
  }

  @include tablet {
    font-size: 1.25em;
  }

  @include mobile {
    font-size: 1.75em;
  }
}

.header-nav-items a:hover {
  border-bottom: 2px solid #eeeeee;
}

.logo-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eeeeee;
}

.scroll-down {
  font-size: 4em;
  position: absolute;
  bottom: 10%;
  left: 49%;
  color: #eeeeee;

  @include tablet {
    left: 47%;
    font-size: 3.5em;

  }

  @include mobile {
    left: 44%;
    font-size: 3em;
  }

}

.scroll-down,
.scroll-down:hover,
.scroll-down:focus {
  color: #eeeeee;
}

.scroll-down {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.logo-text-size {
  width: 99vw;
  font-family: $header-font;
  font-size: 5em;

  @include desktop {
    width: 98vw;
    font-size: 4em;
  }

  @include small-desktop {
    width: 98vw;
    font-size: 3em;
  }

  @include tablet {
    width: 98vw;
    font-size: 2.7em;
  }

  @include mobile {
    width: 96vw;
    font-size: 2.2em;
  }
}

.logo-text p {
  width: 99vw;
  font-size: 2em;

  @include desktop {
    width: 98vw;
    font-size: 1.75em;
  }

  @include small-desktop {
    width: 98vw;
    font-size: 1.3em;
  }

  @include tablet {
    width: 98vw;
    font-size: 1.3em;
  }

  @include mobile {
    display: none;
  }
}

.logo-font {
  font-family: $header-font
}

//Divider

#divider {
  color: #d1dbe5;
  background-color: #1c5c88;
  padding: 0 15px 0 15px;
  min-height: 26%;
}

.divider-main-text {
  font-size: 2em;

  @include desktop {
    font-size: 1.7em;
  }

  @include small-desktop {
    font-size: 1.65em;
  }

  @include tablet {
    font-size: 1.6em;
  }

  @include mobile {
    font-size: 1.5em;
    text-align: center;
  }
}

.divider-secondary-text {
  font-size: 1.25em;

  @include desktop {
    font-size: 1.15em;
  }

  @include small-desktop {
    font-size: 1.1em;
  }

  @include tablet {
    font-size: 1.1em;
  }

  @include mobile {
    font-size: 1.2em;
    text-align: center;
  }

}

// Markets logos

#markets-logos {
  min-height: 22%;
  background-color: rgba(224, 218, 207, 0.4);

  @include mobile {
    display: none;
  }
}

#markets-logos h3 {
  text-align: center;
}

#markets-logos img {
  opacity: 0.75;
  filter: grayscale(90%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}

#markets-logos img:hover {
  opacity: 1;
  filter: grayscale(0%);

}

//Markets list

#markets-list {
  min-height: 42%;
  margin: 20px 15px 20px 15px;
}

#markets-list:focus {
  outline: none;
}

.market-box {
  border-top: 6px solid rgba(32, 160, 255, 0.45);
  border-left: 1px solid rgba(107, 107, 107, 0.2);
  border-right: 1px solid rgba(107, 107, 107, 0.2);
  border-bottom: 1px solid rgba(107, 107, 107, 0.2);
  box-shadow: 1px 4px 6px 0 rgba(194, 194, 195, 0.4);
  max-width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  transition: all .3s ease-in-out;

  @include small-desktop {
    max-width: 85%;
  }

  @include tablet {
    max-width: 80%;
  }

  @include mobile {
    max-width: 95%;
  }
}

.market-box:hover {
  border-left: 1px solid rgba(125, 125, 125, 0.55);
  border-right: 1px solid rgba(125, 125, 125, 0.55);
  border-bottom: 1px solid rgba(125, 125, 125, 0.55);
  box-shadow: 1px 6px 14px 0 rgba(194, 194, 195, 0.7);
  border-top: 6px solid rgba(32, 160, 255, 1);
}

.market-box-title {
  margin: 5px;
  min-height: 45px;
}

.title {
  color: #6e6e6e;

  @include big-desktop {
    font-size: 1.3em;
  }

  @include desktop {
    font-size: 1.25em;
  }

  @include small-desktop {
    font-size: 1.45em;
  }

  @include tablet {
    font-size: 1.4em;
  }

  @include mobile {
    font-size: 1.4em;
  }
}


// Dashboard manager

.manager-size {
  @include big-desktop {
    padding-left: 5px;
    margin: 0 40px 0 50px;
  }

  @include desktop {
    padding-left: 10px;
    margin: 0 10px 0 100px;
  }

  @include small-desktop {
    padding-left: 10px;
    margin: 0 5px 0 105px;
  }

  @include tablet {
    padding-left: 10px;
    margin: 0 2px 0 15px;
  }

  @include mobile {
    padding-left: 10px;
    margin: 0 2px 0 30px;
  }

}

//Input size

.input-size {
  @include big-desktop {
    width: 500px;
  }

  @include desktop {
    width: 450px;
  }

  @include small-desktop {
    width: 350px;
  }

  @include tablet {
    width: 300px;
  }

  @include mobile {
    width: auto;
  }
}

// Modal buttons styles for mobile layout

.btn-mobile {
  @include mobile {
    border-radius: 0;
  }
}

.btn-stacked {
  @include mobile {
    margin-bottom: 0;
    display: grid;
    padding: 0;
  }
}

.el-dialog__footer {
  @include mobile {
    padding: 0;
  }
}

.el-button + .el-button {
  @include mobile {
    margin-left: 0;
  }
}

// Info Card Component Styles

.info-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
  opacity: 0.8;
  background: white;
  height: 100%;
}

.info-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  opacity: 0.9;
}

.info-card-header {
  position: relative;
  text-align: center;
  background-color: rgb(32, 160, 255);
}


.info-card-header h3 {
  margin-top: 0;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
}

.info-card-body {
  position: relative;
  padding: 5px 10px;
}

.info-card-footer {
  margin-top: 25px;
}

.info-card-btn {
  position: absolute;
  bottom: 5%; right: 5%;
}

footer {
  color: #C2C2C3;
  min-height: 5%;
  background-color: #373737;
}

.footer-date {
  padding-top: 10px;
  text-align: center;
}

//Checkbox fix
.el-checkbox + .el-checkbox {
  margin-left: 0;
}

.el-checkbox {
  margin-right: 10px;
}

.login-footer {
  position: relative;
}

.btn-login {
  position:absolute;
  right: 0;
}

//Chart

#chart {
  width: 100%;
  height: 70vh;
}





