.center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.ml-1 {
  margin-left: 10px;
 }

.ml-4 {
  margin-left: 40px;
}

.m-1 {
  margin: 10px;
}